* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
#root {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}

.login-page {
    height: 100vh;
    width: 100vw;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.login-bg-image {
    background-image: url("../assets/svgs/login-backdrop.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;

    position: fixed;
    z-index: -1;
}

.login-portal-container {
    box-sizing: border-box;
    overflow: hidden;

    margin: auto;
    color: white;
    background-color: oklab(35.404% 0.00196 -0.01202);
    min-width: 50rem;
    min-height: 30rem;
    padding: 2rem;
    border-radius: 0.8rem;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.portal-header-section {
    text-align: center;
}

.portal-header-section h1 {
    margin-bottom: 0.8rem;
}

.portal-header-section p {
    font-size: 1.2rem;
    color: oklab(0.906424 -0.000235766 -0.0028885);
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    width: 80%;
}

.input-block {
    width: 100%;
    padding: 1rem 2rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.input-container h3 {
    margin-bottom: 0.5rem;
    padding-left: 0.2rem;
}

.input-container span {
    font-weight: lighter;
    font-size: medium;
    color: rgb(182, 93, 93);
}

.input-box {
    border-radius: 0.4rem;
    background-color: oklab(31.219% -0.00159 -0.00979);

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0.8rem 0.6rem;
    transition: box-shadow 0.25s ease;

}

.input-box:focus-within {
    box-shadow: 0 0 0 2px oklab(0.906424 -0.000235766 -0.0028885);
}


.input-box input {
    width: 100%;

    outline: none;
    line-height: 1.2rem;
    font-size:medium;
    border: none;
    border-radius: 0.4rem;
    color: white;
    background-color: oklab(31.219% -0.00159 -0.00979);

}

.forgot-password {
    text-decoration: none;
    color: white;
    margin: 0.5rem 0rem;
}

.forgot-password:hover {
    text-decoration: underline;
}


.login-btn {
    color: white;
    border: none;
    background-color:#003cff;

}

.login-btn:hover{
    cursor: pointer;
    background-color:#0400ff;
    transition: background-color 0.25s ease;
}

.register-section{
    display: flex;
    justify-content: start; 
    align-items: self-start;
    width: 80%;
    padding: 0 2rem;
}

.register-section a{
    text-decoration: none;
}