<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Chat Rooms</title>
</head>

<body>
    <form action="">
        <label for="chat-types">Choose a chatting environment</label>
        <select id="chat-types" name="chat-types">
            <option value="channels">Channels</option>
            <option value="threads">Threads</option>
            <option value="gcs">Group Chats</option>
            <option value="dms">Direct Messages</option>
        </select>
    </form>
    <h4>What chat room would you like to enter?</h4>
    <br>

    <input id="uid-input" type="text" size="100"><br>
    <input id="uid-submit" type="button" value="Enter">

    <script>
        const urlPrefix = "/ws/v1/chat/"
       
        document.querySelector('#uid-input').focus();
        document.querySelector('#uid-input').onkeyup = function (e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#uid-submit').click();
            }
        };

        document.querySelector('#uid-submit').onclick = function (e) {
            const uid = document.querySelector('#uid-input').value;
            const chat_type = document.querySelector("#chat-types").value;
            console.log( `${urlPrefix}${chat_type}/${uid}`);
            window.location.pathname = `${urlPrefix}${chat_type}/${uid}`;
        };
    </script>
</body>

</html>